
h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

.box {
	background-color: #e6e6e6;
	border: 2px solid black;
	float: left;
	width: 425px;
	height: 400px;
	margin: 20px;
}

#c_B {
	background-color: pink;
	border: 2px solid black;
	float: right;
	width: 35%;
}

#b_B {
	background-color: red;
	border: 2px solid black;
	float: right;
	width: 35%;
}

#s_B {
	background-color: yellow;
	border: 2px solid black;
	float: right;
	width: 35%;
}

section {
	padding: 10px;
	clear: right;
}


/*******************Desktop View***********************/
@media (min-width: 992px) {
	.box {
		height: 300px;
		width: 25%;
		}
}


/********************Tablet View***********************/
@media (min-width: 768px) and (max-width: 991px) {
	#sushi {
		clear: left;
		width: 90%;
		}
}

/********************Mobile View***********************/
@media (max-width: 767px) {
	#beef {
		clear: right;
		width: 50%;
		}
}

