h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	}

h2 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: right;
	}

.box {
	border: 2px solid black;
	float: left;
	width: 30%;
	height: 200px;
	margin: 20px;
	}
	
.food_type {
	float: right;
	width: 25%;
	border: 2px solid black;
	}

#food_C {
	}
	